
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 195 11% 7%; /* #101314 */
    --foreground: 0 0% 98%;
    --card: 195 11% 9%;
    --card-foreground: 0 0% 98%;
    --popover: 195 11% 7%;
    --popover-foreground: 0 0% 98%;
    --primary: 192 84% 63%; /* #52CEEF - Cyan */
    --primary-foreground: 195 11% 7%;
    --secondary: 247 52% 66%; /* #8479D8 - Purple */
    --secondary-foreground: 0 0% 98%;
    --muted: 195 11% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 247 52% 66%;
    --accent-foreground: 195 11% 7%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 195 11% 15%;
    --input: 195 11% 15%;
    --ring: 192 84% 63%;
    --radius: 0.25rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
    letter-spacing: -0.025em;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}

.mono-texture {
  background-image: radial-gradient(circle at 2px 2px, rgba(255,255,255,0.03) 1px, transparent 0);
  background-size: 24px 24px;
}
